md-card {
  width: 400px;
}

form .full-width {
  width: 100%;
}

.error-list ul, .error-list ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.error-list ul li {
  list-style: none;
  margin: 10px;
  padding: 10px;
}
